{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="panel right">
        <h1>Make a Post</h1>
        <p>
            <form action="/submit" method="post" enctype="multipart/form-data">
            {% for field in ribbit_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Post!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Friend's Posts</h1>
        {% for ribbit in ribbits %}
        <div class="ribbitWrapper">
            <a href="/users/{{ ribbit.user.username }}">
                <img class="avatar" src="{{ ribbit.user.profile.gravatar_url }}" width="60" height="60">
                <span class="name">{{ ribbit.user.username }}</span>
            </a>
            @{{ ribbit.user.username }}
	<p>

		
		<script src="{{STATIC_URL}}glfx.js"></script>
		<script>

		window.onload = function() {
		    // try to create a WebGL canvas (will fail if WebGL isn't supported)
		    try {
			var canvas = fx.canvas();
	
		    } catch (e) {
			alert(e);
			return;
		    }

		    // convert the image to a texture
		    var image = document.getElementById('image');
		    var texture = canvas.texture(image);

		    // apply the ink filter
		    canvas.draw(texture).brightnessContrast({{ribbit.brightness}}/100, 0).update();

		    // replace the image with the canvas
		    image.parentNode.insertBefore(canvas, image);
		    image.parentNode.removeChild(image);
		};


		</script>
		<img id="image" src="{{MEDIA_URL}}{{ribbit.pic}}" width="400">
	</p>
            <p>
                {{ ribbit.content }}
            </p>
		
        </div>
        {% endfor %}
    </div>
{% endblock %}
