<!--My Profile/Other User Profile url-->
{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

    <div class="panel right">
        <h1>{{ user.username }}'s Profile</h1>
        <div class="ribbitWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}" width="60" height="60">
                <span class="name">{{ user.first_name }}</span>
            </a>
                @{{ user.username }}
            <p>
                <span class="spacing">{{ ribbits.count }} Posts</span>
                <span class="spacing">{{ user.profile.follows.all.count }} Following</span>
                <span class="spacing">{{ user.profile.followed_by.all.count }} Followers</span>
            </p>
            {% if follow %}
            <form action="/follow" method="post">
                {% csrf_token %}
                <input type="hidden" name="follow" value="{{ user.id }}">
                <input type="submit" value="Follow">
            </form>
            {% endif %}
        </div>
    </div>

    <div class="panel left">
        <h1>{{ user.username }}'s Uploads</h1>
        <script>
			function addLoadEvent(func) {
			  var oldonload = window.onload;
			  if (typeof window.onload != 'function') {
				window.onload = func;
			  } else {
				window.onload = function() {
				  if (oldonload) {
					oldonload();
				  }
				  func();
				}
			  }
			}
		</script>
        {% for ribbit in ribbits %}
        <div class="ribbitWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}" width="60" height="60">
                <span class="name">{{ ribbit.user.first_name }}</span>
            </a>
            @{{ ribbit.user.username }}
            <span class="time">{{ ribbit.creation_date|timesince }}</span>
		{% if ribbit.pic %}
			<div>
				<script>
					function func{{ribbit.id}}() {
						// try to create a WebGL canvas (will fail if WebGL isn't supported)
						try {
							var canvas{{ribbit.id}} = fx.canvas();

						} catch (e) {
							alert(e);
							return;
						}
							// convert the image to a texture
						var image{{ribbit.id}} = document.getElementById('image{{ribbit.id}}');
						var texture{{ribbit.id}} = canvas{{ribbit.id}}.texture(image{{ribbit.id}});
							// apply the ink filter
						canvas{{ribbit.id}}.draw(texture{{ribbit.id}}).brightnessContrast({{ribbit.brightness}}/100.0, 0).update();
							// replace the image with the canvas
						image{{ribbit.id}}.parentNode.insertBefore(canvas{{ribbit.id}}, image{{ribbit.id}});
						image{{ribbit.id}}.parentNode.removeChild(image{{ribbit.id}});
					};
					addLoadEvent(func{{ribbit.id}});		
				</script>
				<a class="grouped_elements" href="{{MEDIA_URL}}{{ribbit.pic}}" >
					<img id="image{{ribbit.id}}" src="{{MEDIA_URL}}{{ribbit.pic}}" width="400">
				</a>
			</div>
           	<p>{{ ribbit.content }}</p>
		{% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
